{% extends 'shop/main.html' %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<img  class="owner-pic img-thumbnail" src="{% static 'images/doctor.jpg' %}">
			<div class="text-center">
			<p class="box-element ">Привет, меня зовут Лала.fafafaljcoam coqjiodjfqfpmcp oqmopmaddpma pcmapapdkpakdpakcp amcpasmcpamcpo mapocmqpoc qpkocnoa sis aai diap adip ifnvosi so soèd nwoè w vos osodf si fafafaljcoam coqjiodjfqfpmcp oqmopmaddpma pcmapapdkpakdpakcp amcpasmcpamcpo mapocmqpoc qpkocnoa sis aai diap adip ifnvosi so soèd nwoè w vos osodffafafaljcoam coqjiodjfqfpmcp oqmopmaddpma pcmapapdkpakdpakcp amcpasmcpamcpo mapocmqpoc qpkocnoa sis aai diap </p>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>

{% endblock %}