{% extends 'shop/main.html' %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<img  class="owner-pic img-thumbnail" src="{% static 'images/doctor.jpg' %}">
			<div class="text-center">
			<p class="box-element ">Hi! We are an amazing company specializing in &#60;Put your input here&#62;. If interesting please write using WhatsApp to +39 389 287 2311.</p>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>

{% endblock %}