{% extends 'shop/main.html' %}
{%load static %}


{% block content %}


  <div class="row">
      <div class="col-lg-6">
        <br>
        <br>
        {% if request.user.is_authenticated %}
          <h3 class="contact-text"><strong>Dear {{request.user}}.</strong></h3>
        {% else %}
          <h3 class="contact-text"><strong>Dear Guest.</strong></h3>
        {% endif %}
        <h6 class="contact-text">If you have any questions about the products or would just like a personal advice please feel free to contact us any time.</h6>
      </div>
      <div class="col-lg-6">

        <form method='post'>
          {% csrf_token %}
            {% if request.user.is_authenticated %}
            {% else %}
            <div class="form-group">
              <label>Name</label>
              <input required class="form-control" type="text" name="name">
            </div>

            <div class="form-group">
              <label>Email</label>
              <input required class="form-control" type="text" name="email">
            </div>
            {% endif %}

            

            <div class="form-group">
              <label>Subject</label>
              <input required class="form-control" type="text" name="subject">
            </div>
      
            <div class="form-group">
              <label>Message</label>
              <textarea required class="form-control" name="message"></textarea>
            </div>
      
            <div class="form-actions text-center">
              <button class="btn btn-primary btn-lg" style="width: 50%" type="submit">Send</button>
            </div>
          </form>
      </div>

    </div>	

 {% endblock %}