{%  extends 'shop/main.html' %}

{% block content %}

<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-5">
		<h5>LAST 5 CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-md btn-block" href="{% url 'create_customer' %}">Create Customer</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}

			</table>
			<a class="btn btn-info btn-md btn-block font-weight-bold btn-login" href="{% url 'customer_list' %}">Customer List</a>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-md btn-block" href="{% url 'create_order' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>View</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.customer}}</td>
						<td>{{order.date_ordered}}</td>
						<td>{{order.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'order_item_list' order.id %}">View</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

					</tr>
				{% endfor %}

			
			</table>
			<a class="btn btn-info btn-md btn-block font-weight-bold btn-login" href="{% url 'order_list' %}">Order List</a>
		</div>
	</div>

</div>

{% endblock %}