{%  extends 'shop/main.html' %}

{% block content %}
<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<div class="text-center">
			<h4>Forgotten your password? </h4>
			<h4>Please enter your email address below, and we’ll email instructions for setting a new one.</h4>
		</div>
		
		<br>
		<form method="post">
			{% csrf_token %}
			<div class="input-group mb-2">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
				</div>
				{{form.email}}
			</div>
			<div class="text-center">
				<input class="btn btn-primary btn-lg font-weight-bold  text-uppercase btn-login"  type="Submit" name="Send email">
			</div>
		</form>
	</div>
	<div class="col-3"></div>
</div>


	<script>
		var form_field = document.getElementsByTagName('input')
		form_field[1].placeholder='Email..';
		form_field[1].className += ' form-control'
	</script>



{% endblock %}