<!--TITLE-->
<title>Zakir Zeynalov-Django Ecommerce website</title>
<!--META CHARSET-->
<meta charset="UTF-8">
<!--META VIEWPORT-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<!--META EDGE-->
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--META DESCRIPTION-->
<meta name="description" content="Project based learning. Django ecommerce project(small online shop).">
<!--META KEYWORDS-->
<meta name="keywords" content="PYTHON, PYTHON 3, DJANGO, DJANGO 3, ECOMMERCE, ONLINE SHOP, ONLINE STORE, ONLINE MARKET, , HEROKU, ZEYNALOV ZAKIR, ZAKIR, ZEYNALOV">
<!--FAVICON-->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">