{%  extends 'shop/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<p><strong>Address</strong></p>
				{{form.address}}
					<hr>
				<p><strong>City</strong></p>
				{{form.city}}
					<hr>
				<p><strong>State</strong></p>
				{{form.state}}
					<hr>
				<p><strong>Zipcode</strong></p>
				{{form.zipcode}}
					<hr>

				{% if form.errors %}
				    {% for field in form %}
				        {% for error in field.errors %}
				            <div class="alert alert-danger">
				                <strong>{{ error|escape }}</strong>
				            </div>
				        {% endfor %}
				    {% endfor %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}

				<input class="btn btn-primary" type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}